.container {
  mask-image: linear-gradient(
    to right,
    transparent 0.8em,
    white 1.5em,
    white calc(100% - 1.5em),
    transparent calc(100% - 0.8em)
  );
}

.container::-webkit-scrollbar {
  appearance: none;
}

@keyframes highlight {
  0% { background-color: white; }
  30% { background-color: #ffffb3; }
  60% { background-color: #ffffb3; }
  100% { background-color: white; }
}
.container tr:target {
  animation: highlight 2s;
}

.container summary::before {
  content: '';
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.container details[open] > summary::before {
  content: '';
  transform: rotate(-90deg);
}

.container img {
  max-width: 99%;
}

.container a {
  white-space: pre;
}

.container ul {
  margin-top: 1px;
}