.container {
  mask-image: linear-gradient(
    to right,
    transparent 0.8em,
    white 1.5em,
    white calc(100% - 1.5em),
    transparent calc(100% - 0.8em)
  );
}

.container::-webkit-scrollbar {
  appearance: none;
}

@keyframes highlight {
  0% { background-color: white; }
  30% { background-color: #ffcdcd; }
  60% { background-color: #ffcdcd; }
  100% { background-color: white; }
}
.container tr:target {
  animation: highlight 2s;
}
