@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
}

figcaption {
  font-size: 0.85rem;
  line-height: 1.5rem;
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .home-content .hide-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .home-content p {
    font-size: 0.9rem;
  }
  .home-content .hide-small {
    display: none;
  }
}

/* Severities */
span[s="0"] code { /* Fixed */
  color: white;
  background: mediumseagreen;
}
span[s="1"] code { /* Minor */
  color: white;
  background: darkgray;
}
span[s="2"] code { /* Medium */
  color: white;
  background: orange;
}
span[s="3"] code { /* Major */
  color: white;
  background: indianred;
}
span[s="4"] code { /* Critical */
  color: white;
  background: red;
}